*{ box-sizing: border-box }

img {
   width: 100%;
   display: block;
}

.column-container{
   font-size: 0;
   width: 65%;
   position: relative;
   background: #D0D5D9;
   padding-bottom: 2px;
   padding-right: 2px;
   border-radius: 3%;
   top: -220px;
   right: -365px;
   border: solid 1px #A0A0A0;

}

.close {
   position: relative;
   top: -215px;
   right: -350px;
   color: #white;
   font-size: 30px;
}

.column-container > .grid-item{
   font-size: medium;
   display: inline-block;
   vertical-align: top;
}


#app-container{
   max-width: 960px;
   margin: 0 auto;

   .background {
      margin: 20px 0;
      max-width: 500px;
      position: relative;
   }

   .pic-column {
      width: 50%;
      margin: 0 left;
   }

   .text-column {
      width: 50%;
      text-align: center;
      font-family: 'Helevetica', sans-serif;
   }

   .text-column button {
      background: #333333;
      color: white;
      width: 75%;
   }

   .titlebar{
      display: inline-block;
      width: 100%;
   }

   .avocado{
      position: relative;
   }

   .shopingbag{
      position: absolute;
      top: 50px;
      right: 30px;
      width: 5%;
      color: #BBB;
   }

   .letters {
         width: 24%;
         display: inline-block;
         text-align: center;
         font-size: 25px;
         font-family: 'helvetica';
         }

   .shopbutton button {

      width: 25%;
      position: relative;
      border: none;
      padding: 10px;
      top: -35px;
      right: -250px;
      font-size: 30px;

   }

}
